{% extends 'index.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Документация</h1>
    <p class="h5 mt-3">Как это работает ?</p>
    Это краулер с примесью парсера.<br>
    Задача этой программы получить данные с интересующего вас сайта.<br>
    Вы вводите две основные ссылки:<br>
    1-Домен<br>
    2-Cсылка для парсинга (страница с которой нужно начать процес сбора ссылок).<br>
    Далее нажимаем кнопку ЗАПУСТИТЬ и начнется процесс обхода ссылок по сайту.<br>
    Будут собраны все уникальные ссылки на сайте без повторений.<br>
    Ссылки не принадлежащие другому домену (сайту) будут проигнорированы.<br>
    Ссылки на файлы и изображения и им подобные, так же будут проигнорированы.<br>
    Процесс сбора ссылок зависит от размера сайта.<br>
    Поэтому наберитесь терпения !<br>
    Если по какой то причине вам пришлось закрыть страницу в процессе сбора ссылок.<br>
    Не беда, при запуске страницы снова (необходимо перейти на страницу ПРОЦЕСС)<br>
    Процедура сбора ссылок продолжится с того места где была программа прервана или остановлена.<br>
    То есть краулер просто продолжит с того места где остановился.<br>
    На странице ПРОЦЕССА есть счетчик найденных страниц.<br>
    Если счетчик обнаруженных страниц, не изменялся <b>60 секунд</b>,
    то скорее всего процесс можно считать законченным.<br>
    <mark>Немного пояснения про 60 секунд:<br>
        Так как программа собирает ссылки несколькими потоками (4 потока) то вероятней всего,<br>
        что, если, счетчик не меняется 60 секунд, ссылки уже повторяются при нахождении.<br>
        Так же, можно немного понаблюдать за счетчиком, если вы видите что он перестал меняться<br>
        можно переходить к следующему этапу.<br>
    </mark>
    <p></p>
    <u>Этап создания файлов из найденных ссылок</u><br>
    На странице ЗАПИСЬ, вы увидите счетчик записанных страниц в файле <b>links.txt</b><br>
    при нажатии на кнопку: НАЧАТЬ ЗАПИСЬ---><br>
    Начнется процесс создания файлов из найденных на сайте страниц.<br>
    Когда все файлы будут созданы появится кнопка ПРОСМОТР ФАЙЛОВ.<br>
    При нажатии на кнопку откроется проводник вашей системы,<br>
    Тем самым вы увидите список созданных файлов в виде страниц.<br>
    Имена файлов будут такими же как сама ссылка на сайте.<br>
    Окончания могут быть разных типов:<br>
    .HTML - просто страницы<br>
    .CSS - файл с стилями<br>
    .JS - файл с кодом js<br>
    Файлы начало которых ERROR это страницы с ошибками.<br>
    Вот в принципе всё.<br>
    Если нажать на кнопку СТЕРЕТЬ то все созданные файлы будут так же удалены.<br>

    <hr>
    <p class="h5 mt-3">Описание разделов:</p>
    <ul>
        <li>ПАРСЕР</li>
        Эта страница служит для ввода данных для сайта с которым будет работать краулер.<br>
        Поле <b>*Адрес домена (обязательно)</b> необходимо правильно заполнить.<br>
        Допустим у вас есть некий адрес ссылка который вы хотите запустить в краулере.<br>
        Важна основная часть с вашей ссылки, это основной домен.<br>
        В конце ссылки, обязательно должен присутствовать слеш - <b>/</b><br>
        <u>Пример</u>:<br>
        http(s)://какой_то_адрес.com<b>/</b>
        <p></p>
        Поле <b>*Ссылка для парсинга</b> необходимо также правильно заполнить.<br>
        Адрес не должен указывать на страницы с окончанием: <b>.css</b> или <b>.js</b><br>
        Также ссылка не должна указывать на любой целевой файл.<br>
        То есть, не должен быть адрес на изображение или любой другой файл.<br>
        Важно понимать, что ссылка должна указывать на страницу типа<br>
        <b>.html</b> или просто заканчиваться слешем <b>/</b><br>
        <u>Пример</u> :<br>
        http(s)://какой_то_адрес.com<b>/</b><br>
        http(s)://какой_то_адрес.com/страница.html<b>/</b><br></ul>
    <p></p>
    <ul>
        <li>ПРОЦЕС</li>
        Эта страница служит для отображения количества найденных ссылок на сайте.<br>
    </ul>

    <ul>
        <li>ЗАПИСЬ</li>
        Эта страница служит для создания файлов из найденных ссылок на страницах сайта.<br>
    </ul>

    <ul>
        <li>ОЧИСТИТЬ</li>
        Эта опция служит для очистки данных которые вы вводили до этого.<br>
        При нажатии на неё все данные будут стерты.<br>
        После этого можно вводить новые данные для запуска обработки ссылок другого сайта.
    </ul>

    <br>


{% endblock content %}