{% extends 'index.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if data is none %}
        <div class="alert alert-danger" role="alert">
            Данные сайта для начала процесса парсинга не введены !!!<br>
            Вернитесь на главную страницу для заполнения данных !!!
        </div>
    {% elif all_urls %}
        <div class="card my-2">
            <h5 class="card-header">
                <p class="nav-link active">Адрес домена (корень): {{ data.index_site_link }}</p>
                <p class="nav-link active">URL страницы начала парсинга: {{ data.link_url_start }}</p>
                <p class="nav-link active">Адрес паки сайта в uploads: {{ data.upload_path_folder }}</p>
            </h5>
            <div class="card-body " style="height: 300px; overflow: auto;">
                <p><b>Обнаруженные ссылки:</b></p>
                {% for link in all_urls %}
                    <p>{{ link | safe }}</p>
                {% endfor %}
                <div id="data-container"></div>
            </div>
            <div class="card-footer text-body-secondary">
                <div class="alert alert-success" role="alert">
                    <div class="row">
                        <div class="col-auto mb-0">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-auto">
                            <h5>Количество найденных ссылок: <span id="linkCount"></span></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto m-1">
                        <form method="post" action="/pause-thread-1">
                            <button type="submit" class="btn btn-secondary">Пауза</button>
                        </form>
                    </div>
                    <div class="col-auto m-1">
                        <form method="post" action="/resume-thread-1">
                            <button type="submit" class="btn btn-secondary">Продолжить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% elif all_urls == false %}
        <div class="alert alert-success" role="alert">
            Идёт сбор данных. <br>
            Как только данные будут получены,страница перезагрузится,<br>
            данные будут выведены на странице.<br>
            <h5>Количество записанных ссылок: <span id="linkCount"></span></h5>
        </div>

        <div class="d-flex justify-content-center">
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="row">
            <div class="col-auto">
                <form method="post" action="/pause-thread-1">
                    <button type="submit" class="btn btn-secondary">Пауза</button>
                </form>
            </div>
            <div class="col-auto">
                <form method="post" action="/resume-thread-1">
                    <button type="submit" class="btn btn-secondary">Продолжить</button>
                </form>
            </div>
        </div>

    {% else %}
        Всё пошло по бороде братан ((((<br>
        Ни одно из условий не прошло ))))<br>
        ссылок в бд нет<br>
    {% endif %}

    <script>
    let eventSource; // Глобальная переменная для хранения объекта EventSource
    function checkAndReload() {
        const linkCountElement = document.getElementById('linkCount');
        const currentValue = linkCountElement.textContent;

        setTimeout(function () {
            const newValue = linkCountElement.textContent;

            // Если значение не изменилось 30 секунд, закрываем соединение SSE и переходим на другую страницу
            if (currentValue === newValue) {
                if (eventSource) {
                    eventSource.close();
                }
                window.location.href = '/save-links-files'; // Переход на другую страницу
            }
        }, 30000); // Время ожидания миллисекунд для перезагрузки страницы
    }

    // Вызываем функцию для первой проверки
    checkAndReload();

    // Код для обновления значения найденных ссылок в блоке <div id="linkCount"></div> при получении событий
    eventSource = new EventSource('/sse');

    eventSource.onmessage = function (event) {
        const linkCountElement = document.getElementById('linkCount');
        if (linkCountElement) {
            linkCountElement.textContent = event.data;
            // При получении события также запускаем проверку
            checkAndReload();
        }
    };
</script>


{#    <script>#}
{#        let eventSource; // Глобальная переменная для хранения объекта EventSource#}
{#        function checkAndReload() {#}
{#            const linkCountElement = document.getElementById('linkCount');#}
{#            const currentValue = linkCountElement.textContent;#}
{##}
{#            setTimeout(function () {#}
{#                const newValue = linkCountElement.textContent;#}
{##}
{#                // Если значение не изменилось 30 сек перезагружаем страницу#}
{#                if (currentValue === newValue) {#}
{#                    if (eventSource) {#}
{#                        eventSource.close();#}
{#                    }#}
{#                    location.reload();#}
{#                }#}
{#            }, 10000); // Время ожидания миллисекунд для перезагрузки страницы#}
{#        }#}
{##}
{#        // Вызываем функцию для первой проверки#}
{#        checkAndReload();#}
{##}
{#        // Код для обновления значения найденных ссылок в блоке <div id="linkCount"></div> при получении событий#}
{#        eventSource = new EventSource('/sse');#}
{##}
{#        eventSource.onmessage = function (event) {#}
{#            const linkCountElement = document.getElementById('linkCount');#}
{#            if (linkCountElement) {#}
{#                linkCountElement.textContent = event.data;#}
{#                // При получении события также запускаем проверку#}
{#                checkAndReload();#}
{#            }#}
{#        };#}
{#    </script>#}

{% endblock content %}
